<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org"
	  xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   
    <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<nav class="teal lighten-2">
		<div class="nav-wrapper">
	      	<ul id="nav-mobile" class="left hide-on-med-and-down">
	        	<li><a href="/">Home</a></li>
	      		<li><a href="/usuario/contas">Contas</a></li>
	      		<li><a href="/recebedor/listar">Recebedores</a></li>
	     	</ul>
	     	<ul id="nav-mobile" class="right hide-on-med-and-down">
	        	<li><a href="/usuario/cadastro">Cadastre-se</a></li>
	      		<li><a href="/login">Login</a></li>
	      		<li><a href="/logout">Logout</a></li>
	     	</ul>
	   	</div>
	</nav>
	
<!--JavaScript at end of body for optimized loading-->
     <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
     <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	 <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>